html {
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

body {
    color: hsl(211, 12%, 28%); 
}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
}
h2 {
    font-size: 2.75rem;
    font-weight: 600;
}
h3 {
    font-size: 2rem;
    font-weight: 500;
}

p {
    font-size: 1.5rem;
}

header {
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: hsla(50, 100%, 95%, 1);
   
}

header .content {
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #A03525;
    box-shadow: 0px 2px 5px;
}

header .logo-container {
    width: 10rem;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

nav ul {
    display: flex;
   
}

nav ul li {
    list-style-type: none;
    padding-left: 2.5rem;
}

a {
    text-decoration: none;
    color: hsl(8, 62%, 39%);
    font-weight: 700;
    font-size: 1.5rem;
}

a:hover {
    color: hsl(8, 100%, 59%);
    text-decoration: underline;

}

main {
    position: relative;
    top: 5.5rem;
}

/* Header mobile */

@media only screen and (max-width: 680px) {
    nav a {
        font-size: 1rem;
    }
    header .content {
        padding:0 1rem;
    }
    nav ul li {
        padding-left: 1.5rem;
    }
    header {
        position: relative;;
    }
    main {
        position: static;
    }
}

    /* flex-direction: column-reverse */

    /* banner section */
#about .container {
    background-color: hsla(50, 100%, 96%, 0.5);
    padding: 2.75rem;
    display: flex;
    /* border: 3px solid red; */
    align-items: center;
    justify-content: space-evenly;
}

.sketch-and-name {
    width: 40%
}
.sketch-and-name img {
    width: 100%;
    height: auto;
}



.about-right {
    width: 55%;
    padding: 2rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: start;
    /* border: 1px solid black;  */
}

.keith-container {
    background-color: #fff;
    padding: 1rem;
    border: 0.5px solid gray;
    box-shadow: 4px 4px 6px;
}

@media only screen and (max-width: 1200px ) {
    #about .container {
        display: flex;
        flex-flow: column;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-start;
    }
    .sketch-and-name {
        width: 85%;
    }
    .about-right {
        display: flex;
        width: 100%;
        padding: 0;
        padding-bottom: 1rem;
    }
    main {
      margin-top: 0;  
      padding: 0;
      position
    } 
    h1 {
        font-size: 2.75rem;
        font-weight: 700;
    }
    h2 {
        font-size: 2rem;
        font-weight: 600;
    }
    h3 {
        font-size: 1.25rem;
        font-weight: 500;
    }
    
    p {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 400px ) {
    #about .container {
        padding: 0.5rem;
    }
   
    h1 {
        font-size: 2.25rem;
        font-weight: 700;
    }
    h2 {
        font-size: 1.5rem;
        font-weight: 600;
    }
    h3 {
        font-size: 1rem;
        font-weight: 500;
    }
    
    p {
        font-size: 1rem;
    }
}


/*  Portfolio Scetion */
.center {
    text-align: center;
}

#portfolio h1 {
    background-color: hsla(50, 100%, 85%, 1);
    margin-bottom: -1rem;
}
#portfolio h2 {
    margin-bottom: -1rem;
}

#portfolio .container {
    background-color: hsla(50, 100%, 96%, 0.5);
    padding: 1.5rem;
}
#portfolio .images-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid gray;
}

#portfolio .card {
    max-width: 30%;
}

#portfolio .card img {
    max-width: 100%;
}

@media only screen and (max-width: 600px) {
    #portfolio .images-container {
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-evenly;
        padding: 0.5rem 0;
        background-color: #fff;
        border: none;

    } 
    #portfolio .card {
        max-width: 90%;
    }
    #portfolio .container {
        padding: 0;
    }

}

/* cards */
/* CARDS NEXT  */